a {
  color: #2196F3;
}

body {
  color: white;
  background-color: #212121;
}

.dayEntry {
  background-color: #424242;
}

.postEntry {
  background-color: #616161;
}

blockquote {
  background-color: #757575;
}