/** General things **/

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 4vh;
}

h3 {
  margin-top: 0;
}

body {
  padding-left: 3vh;
  padding-right: 3vh;
  padding-top: 1vh;
  font-size: 2vh;
}

#dayUl {
  list-style: none;
}

blockquote {
  border-radius: 25px;
  padding: 20px;
}

.dayEntry {
  border-radius: 25px;
  padding: 20px;
  margin-bottom: 3vh;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.postEntry {
  border-radius: 25px;
  padding: 20px;
  margin-bottom: 2.5vh;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

small {
  font-size: 1.5vh;
}

input {
  width: 50%;
  border-radius: 5px;
  background: #fff;
  border: 1px solid #ccc;
  outline: none;
  padding: 6px;
  margin-top: 15px;
}

input:focus {
  border: 1px solid #56b4ef;
  box-shadow: 0px 0px 3px 1px #c8def0;
}